@import '~normalize.css/normalize';
@import '~ace-css/css/ace.min';

$white: #fff;
$light-gray: lighten(#aaa, 20%);
$gray: darken(#aaa, 12%);
$dark-gray: #222;
$screen-sm: 40em;

.gray {
  color: $gray;
}

.medium {
  font-weight: 500;
}

@mixin headshot($size: cover, $pos: center center) {
  background-image: url('headshot.jpg');
  background-position: $pos;
  background-repeat: no-repeat;
  background-size: $size;
}

.caps {
  letter-spacing: .75pt;
}

body,
html,
.wrap {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Libre Franklin', 'Helvetica Neue', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Mobile Hero
.hero {
  align-items: flex-end;
  background: $dark-gray;
  display: flex;
  height: 80vh;
  position: relative;
  z-index: 0;

  &:after {
    @include headshot;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    opacity: .65;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.hero-left {
  color: $white;

  @media(min-width: $screen-sm) {
    border-bottom: 1px solid darken(#fafafa, 8%);
    color: $dark-gray;
  }
}

.hero-right {
  @include headshot(cover, top center);
}

.lift {
  text-shadow: 0 2px 3px rgba(0, 0, 0, .35);

  @media(min-width: $screen-sm) {
    text-shadow: none;
  }
}

.hr-stubby {
  border-color: #a73fb2;
  border-width: 3px;
  margin-left: 0;
  margin-right: 0;
  max-width: 50px;

  &.faded {
    opacity: .35;
  }
}

// Desktop Hero

@media(min-width: $screen-sm) {
  .hero {
    align-items: initial;
    background: $white;
    height: 70vh;
  }

  .hero:after {
    background-image: none;
    content: '';
  }
}

audio {
  display: block;
  font-size: 24px;
  width: 100%;
}

.work-sample {
  border: 1px solid $light-gray;
}